In [3]:
#Importing libraries
import pandas as pd
import numpy as np

In [4]:
#raw data
raw=pd.read_excel(r'C:\Users\Asus\Desktop\raw_data.xlsx') 
# raw.info()

In [5]:
#importing_codemeli_city_xlsx
codemeli_city=pd.read_excel(r'C:\Users\Asus\Desktop\Book1.xlsx') 

codemeli_city['seh_ragham_avl']= codemeli_city['seh_ragham_avl'].astype(str)

# codemeli_city.info()
codemeli_city

    seh_ragham_avl shahr_e_sodor_codemeli
0              149                    اهر
1              169                 آذرشهر
2              170                   اسکو
3              149                    اهر
4              171             بستان آباد
..             ...                    ...
603            158                   مرند
604            615          ابهر و خرمدره
605            152                  میانه
606            153                  میانه
607            999             کد ملی غلط

[608 rows x 2 columns]

In [6]:
# raw column names
for col in raw.columns:
    print(col)

نام
نام خانوادگی
کد ملی
موبایل
مرحله ثبت نام
شهر مورد تقاضا
شهر محل سکونت
آدرس متقاضی
کدپستی
وضعیت بارگذاری مدارک
وضعیت سرپرستی
شغل
جنسیت
میزان تحصیلات
نام پدر
شماره شناسنامه
تاریخ تولد
تعداد فرزندان
بعد خانوار
کد شعبه
نام شعبه
شماره حساب

In [7]:
#useful features:

# نام
# نام خانوادگی
# کد ملی
# شماره شناسنامه
# موبایل
# شهر مورد تقاضا
# شهر محل سکونت
# آدرس متقاضی
# کدپستی
# جنسیت
# نام پدر
# تاریخ تولد
# شماره حساب

In [8]:
#renaming columns to english
raw.rename(columns={'نام':"first_name"  ,  "نام خانوادگی":"last_name"  ,  "کد ملی":"national_id"  ,"شماره شناسنامه":"serial_number", 
                    "کدپستی": "postal_code" ,
                    "شهر مورد تقاضا"  : "city_requested " , "شهر محل سکونت" :"city_residance","موبایل":"mobile_number",
                    "آدرس متقاضی": "address" , 
                          "جنسیت":"gender","نام پدر":"Father's name","تاریخ تولد":"Birth date",
                    "شماره حساب":"Bank acc number"} , inplace=True)

raw.drop(columns=['وضعیت بارگذاری مدارک',"وضعیت سرپرستی","شغل","میزان تحصیلات","تعداد فرزندان","بعد خانوار" ,"کد شعبه","نام شعبه","مرحله ثبت نام"],inplace=True)

In [799]:
# raw['national_id_str'] = raw['national_id'].astype(str)
# raw['postal_code_str'] = raw['postal_code'].astype(str)

# "کد ملی"  ;  "national_id"

In [9]:
raw['national_id_str'] = raw['national_id'].astype(str)

In [10]:
# digits counting

def count_digits(string):
    
    return sum(item.isdigit() for item in string)

raw['digits_counting_national_id'] = (raw['national_id_str']).apply(count_digits)

In [11]:
raw[['digits_counting_national_id']].value_counts()

digits_counting_national_id
10                             6581
8                               188
9                               130
dtype: int64

In [12]:
#afrad ba codemelii 10 raghami 

class_10=raw[raw.digits_counting_national_id == 10]

#afrad ba codemelii 9 raghami 
class_9=raw[raw.digits_counting_national_id == 9]

#afrad ba codemelii 8 raghami 

class_8=raw[raw.digits_counting_national_id == 8]

# class10

check validationn of code e melii in class_10

In [10]:
# class_10["national_id_str"].mask(class_10["national_id_str"] == '1111111111', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '2222222222', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '3333333333', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '4444444444', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '5555555555', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '6666666666', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '7777777777', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '8888888888', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '0000000000', '9999999999', inplace=True)

In [14]:
class_10[class_10.national_id_str == '']
#returns 0 for '0000000000','1111111111','2222222222','3333333333','4444444444','5555555555','7777777777','6666666666',8888888888', '9999999999'

Empty DataFrame
Columns: [first_name, last_name, national_id, mobile_number, city_requested , city_residance, address, postal_code, gender, Father's name, serial_number, Birth date, Bank acc number, national_id_str, digits_counting_national_id]
Index: []

In [13]:
#also using below loop is ok 



# invalid_list=['0000000000','1111111111','2222222222','3333333333','4444444444','5555555555','6666666666','7777777777','8888888888','9999999999']


# for i in class_10['national_id_str']:
    
#     if i in invalid_list:
            
#         print(i)
#     else:
#         print("ok")

based on the result of the last 3 cells none of the  class_10.national_id_str values are equal to the invalid_list values.

https://exceliran.com/melli-code-checker-in-excel/  : تشخیص صحت کد ملی

In [15]:
mylist_class10=[]

for codemeli in (class_10['national_id_str']):
    
    Sum=0
    
    for j in range(9):
        
        Sum+= int(codemeli[j])*(10 - j) #sum number code meli 1-9
        
    C=(Sum%11)
    
    A=int(codemeli[9]) #ragham e control
    
    B=11-C   
    
    if ((C<2 and A==0 )) or (C<2 and A==1):
        
        mylist_class10.append(codemeli[:3])
        
    elif (C>=2) and (B==A):
        
        mylist_class10.append(codemeli[:3])
    else:
        mylisst_class10.append("999")
        
        
    
mylist_class10=pd.DataFrame(mylist_class10,columns =['mylist_class10'])

# mylisst_class10.shape=(6581, 1)
#class_10[['national_id_str']].shape=(6581, 1)


class_10['seh_ragham_aval']=mylist_class10.values
# class_10

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\3235855644.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['seh_ragham_aval']=mylist_class10.values

In [17]:
#converting codemeli_city to dict
key, value = list(codemeli_city['seh_ragham_avl']), list(codemeli_city['shahr_e_sodor_codemeli'])
codemeli_city = dict(zip(key, value))

In [18]:
codes = list(class_10['seh_ragham_aval'])

cities_10 = []

for i in codes:
    
    if i in key:
        
        cities_10.append(codemeli_city[i])
    else:
        cities_10.append("null")

In [19]:
cities_10=pd.DataFrame ( cities_10 , columns=['cities_10'])
class_10['shahr_e_sodor_shenasnameh']=cities_10.values

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\3130322988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['shahr_e_sodor_shenasnameh']=cities_10.values

In [21]:
# class_10

# check validation of postal_code in class_10

الگوريتم صحت سنجي عددي كد پستي:

- تعداد ارقام كد پستي 10 رقم مي باشد.

- عدد صفر در كد پستي استفاده نشده است.

- عدد 2 در كد پستي استفاده نشده است.

- چهار رقم ابتدايي نمي تواند شبيه هم باشد.

- رقم پنجم نمي تواند عدد 5 باشد.

-تمامي ارقام نمي تواند شبيه هم باشد.

In [22]:
class_10[['postal_code']]

     postal_code
0     3454178378
1     3451738961
2     3451646436
3     3451737955
4     3451637311
...          ...
6894         NaN
6895  3431164685
6896  3416664781
6897  3471679831
6898  3457114379

[6581 rows x 1 columns]

In [20]:
class_10[['postal_code']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6581 entries, 0 to 6898
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  5925 non-null   object
dtypes: object(1)
memory usage: 102.8+ KB

In [27]:
class_10[['postal_code']].isna().sum()  #returns 656
#replacing nans with 1111111111
class_10[['postal_code']]=class_10[['postal_code']].fillna(1111111111)
class_10[['postal_code']].isna().sum()#returns 0

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\2863504390.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10[['postal_code']]=class_10[['postal_code']].fillna(1111111111)

postal_code    0
dtype: int64

In [23]:
class_10[['postal_code']].value_counts()

postal_code
1111111111     774
3414739866      37
3481634816      28
3451634516      21
3419113131      20
              ...
3419935943       1
3419935671       1
3419935611       1
3419935343       1
3447112977       1
Length: 5379, dtype: int64

# تعداد ارقام كد پستي 10 رقم مي باشد

In [29]:
class_10['digits_counting_postal_code'] = (class_10['postal_code'].astype(str)).apply(count_digits)
class_10['digits_counting_postal_code'].value_counts()

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\1516624701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['digits_counting_postal_code'] = (class_10['postal_code'].astype(str)).apply(count_digits)

10    6562
9       10
8        3
5        2
0        2
2        1
6        1
Name: digits_counting_postal_code, dtype: int64

In [43]:
# class_10[class_10.digits_counting_postal_code == 0]

In [44]:
# class_10[class_10.digits_counting_postal_code == 2]

In [45]:
# class_10[class_10.digits_counting_postal_code == 5]

In [46]:
# class_10[class_10.digits_counting_postal_code == 6]

In [47]:
# class_10[class_10.digits_counting_postal_code == 8]

In [48]:
# class_10[class_10.digits_counting_postal_code == 9]

In [31]:
mylist1=[]

for i in class_10['postal_code'].astype(str):
    
    
    if count_digits(i)==10:
        
            
        mylist1.append(i)
        
    else:
         mylist1.append('1111111111')
            
df_1= pd.DataFrame(mylist1 , columns=['mylist1']) #df_1.shape returns 6581 rows × 1 columns 
df_1.value_counts()  #returns 793 ta '1111111111'

mylist1
1111111111    793
3414739866     37
3481634816     28
3451634516     21
3419113131     20
             ...
3419938548      1
3419938367      1
3419938341      1
3419938191      1
3447118773      1
Length: 5365, dtype: int64

In [33]:
# replacing class_10['postal_code'] with df_1

class_10['postal_code']= df_1['mylist1'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\1952188133.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_1['mylist1'].values

# - عدد صفر در كد پستي استفاده نشده است

# - عدد 2 در كد پستي استفاده نشده است

In [49]:
mylist2=[]

for i in class_10['postal_code'].astype(str):
    
    if i.count('2') == 0  and i.count('0')==0:
        
        mylist2.append(i)
        
    elif i.count('2') != 0  or i.count('0')!=0:
        
        mylist2.append('1111111111')
        
        
        
df_2= pd.DataFrame(mylist2 , columns=['mylist2'])
# df_2.value_counts() #returns 1227 ta '1111111111'

In [38]:
# replacing class_10['postal_code'] (df_1) with df_2

class_10['postal_code']= df_2['mylist2'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\643931272.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_2['mylist2'].values

# - چهار رقم ابتدايي نمي تواند شبيه هم باشد

In [51]:
mylist3=[]

for i in class_10['postal_code'].astype(str):
    
    if i[0:1 ]!= i[1:2]!= i[2:3]!= i[3:4] :
        
        mylist3.append(i)
    else:
        mylist3.append('1111111111')
        
df_3= pd.DataFrame(mylist3 , columns=['mylist3'])
# df_3.value_counts() #returns 1872 ta '1111111111'

In [52]:
# replacing class_10['postal_code'] (df_2) with df_3

class_10['postal_code']= df_3['mylist3'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\2853278166.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_3['mylist3'].values

# - رقم پنجم نمي تواند عدد 5 باشد

In [53]:
mylist4=[]

for i in class_10['postal_code'].astype(str):
    
    if i[4:5]!='5':
        
        mylist4.append(i)
    else:
        mylist4.append('1111111111')
        
df_4= pd.DataFrame(mylist4 , columns=['mylist4'])
df_4.value_counts() #returns 1872 ta '1111111111'

mylist4
1111111111    1872
3414739866      37
3481634816      28
3451634516      21
3419113131      20
              ...
3419348539       1
3419378638       1
3419614418       1
3419614748       1
9861437513       1
Length: 4368, dtype: int64

In [54]:
# replacing class_10['postal_code'] (df_3) with df_4

class_10['postal_code']= df_4['mylist4'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\3745188511.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_4['mylist4'].values

# -تمامي ارقام نمي تواند شبيه هم باشد

In [56]:
# class_10[class_10.postal_code == "1111111111"] #returns 1872  rows
#for "6666666666","7777777777","8888888888","4444444444","5555555555","0000000000","2222222222" ,"3333333333",'9999999999'
                     #returns 0 row

In [69]:
mylist5=[]

invalid_list=["0000000000","1111111111","2222222222","3333333333","4444444444","5555555555","6666666666","7777777777"
              ,"8888888888","9999999999"]



for i in class_10['postal_code'].astype(str):
    
    
    if i in invalid_list:
        
            
        mylist5.append(1111111111)
        
    else:
         mylist5.append(i)
            
df_5= pd.DataFrame(mylist5 , columns=['mylist5'])

df_5.value_counts() #returns 1872 ta '1111111111'

mylist5
1111111111    1872
3414739866      37
3481634816      28
3451634516      21
3419113131      20
              ...
3419348539       1
3419378638       1
3419614418       1
3419614748       1
9861437513       1
Length: 4368, dtype: int64

In [68]:
# replacing class_10['postal_code'] (df_4) with df_5  , it is not necessary but still i'm doing it lol:))

class_10['postal_code']= df_5['mylist5'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_16788\168830366.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_5['mylist5'].values


 
کد پستی قزوین

قزوین: ۳۴۱۳۱ تا ۳۴۹۸۱
	

آبیک: ۳۴۴۱۱ تا ۳۴۴۸۱
		

البرز: ۳۴۱۵۱ تا ۳۴۱۶۱
	

بوئین زهرا 
  : ۳۴۴۹۱ تا ۳۴۶۹۱
		

تاکستان: ۳۴۵۶۱ تا ۳۴۹۵۱

آبيک
	

34411

البرز
	

34151

بوئين زهرا
	

34491

تاکستان
	

34561

قزوين
	

34131

345  417  8378

In [66]:
Qazvin = range(34131,34982)
Abyek  = range(34411,34482)
boinzahra = range(34491,34692)
takestan = range (34561 , 34952)

In [77]:
first5digits=(class_10['postal_code'].astype(str))[:5]
first5digits

0    3454178378
1    3451738961
2    3451646436
3    3451737955
4    3451637311
Name: postal_code, dtype: object

In [96]:
pc=[]
for postal_code in class_10['postal_code'].astype(str):
    pc.append(postal_code[:5])
pc=pd.DataFrame(pc,columns=['pc'])


cities_pc=[]

for i in pc['pc'].astype(int):

    if i == 34131 :

        cities_pc.append('قزوین')

    elif i == 34411:

        cities_pc.append('آبیک')

    elif i== 34151: 

        cities_pc.append('بوئین زهرا')

    elif i == 34561:

        cities_pc.append('تاکستان')

    else:
        cities_pc.append('null')





pd.DataFrame(cities_pc ,columns=['aa']).value_counts()

aa
null          6317
قزوین          195
بوئین زهرا      55
تاکستان         14
dtype: int64

In [91]:
aa[aa.aa == 'null']
# class_10[class_10.digits_counting_postal_code == 0]

        aa
26    null
30    null
49    null
52    null
69    null
...    ...
6568  null
6569  null
6570  null
6575  null
6576  null

[1925 rows x 1 columns]

In [64]:
for i inr range(34131,34982):
    print(i)

34131
34132
34133
34134
34135
34136
34137
34138
34139
34140
34141
34142
34143
34144
34145
34146
34147
34148
34149
34150
34151
34152
34153
34154
34155
34156
34157
34158
34159
34160
34161
34162
34163
34164
34165
34166
34167
34168
34169
34170
34171
34172
34173
34174
34175
34176
34177
34178
34179
34180
34181
34182
34183
34184
34185
34186
34187
34188
34189
34190
34191
34192
34193
34194
34195
34196
34197
34198
34199
34200
34201
34202
34203
34204
34205
34206
34207
34208
34209
34210
34211
34212
34213
34214
34215
34216
34217
34218
34219
34220
34221
34222
34223
34224
34225
34226
34227
34228
34229
34230
34231
34232
34233
34234
34235
34236
34237
34238
34239
34240
34241
34242
34243
34244
34245
34246
34247
34248
34249
34250
34251
34252
34253
34254
34255
34256
34257
34258
34259
34260
34261
34262
34263
34264
34265
34266
34267
34268
34269
34270
34271
34272
34273
34274
34275
34276
34277
34278
34279
34280
34281
34282
34283
34284
34285
34286
34287
34288
34289
34290
34291
34292
34293
34294
34295
34296
34297
34298
34299
34300
34301
34302
34303
34304
34305
34306
34307
34308
34309
34310
34311
34312
34313
34314
34315
34316
34317
34318
34319
34320
34321
34322
34323
34324
34325
34326
34327
34328
34329
34330
34331
34332
34333
34334
34335
34336
34337
34338
34339
34340
34341
34342
34343
34344
34345
34346
34347
34348
34349
34350
34351
34352
34353
34354
34355
34356
34357
34358
34359
34360
34361
34362
34363
34364
34365
34366
34367
34368
34369
34370
34371
34372
34373
34374
34375
34376
34377
34378
34379
34380
34381
34382
34383
34384
34385
34386
34387
34388
34389
34390
34391
34392
34393
34394
34395
34396
34397
34398
34399
34400
34401
34402
34403
34404
34405
34406
34407
34408
34409
34410
34411
34412
34413
34414
34415
34416
34417
34418
34419
34420
34421
34422
34423
34424
34425
34426
34427
34428
34429
34430
34431
34432
34433
34434
34435
34436
34437
34438
34439
34440
34441
34442
34443
34444
34445
34446
34447
34448
34449
34450
34451
34452
34453
34454
34455
34456
34457
34458
34459
34460
34461
34462
34463
34464
34465
34466
34467
34468
34469
34470
34471
34472
34473
34474
34475
34476
34477
34478
34479
34480
34481
34482
34483
34484
34485
34486
34487
34488
34489
34490
34491
34492
34493
34494
34495
34496
34497
34498
34499
34500
34501
34502
34503
34504
34505
34506
34507
34508
34509
34510
34511
34512
34513
34514
34515
34516
34517
34518
34519
34520
34521
34522
34523
34524
34525
34526
34527
34528
34529
34530
34531
34532
34533
34534
34535
34536
34537
34538
34539
34540
34541
34542
34543
34544
34545
34546
34547
34548
34549
34550
34551
34552
34553
34554
34555
34556
34557
34558
34559
34560
34561
34562
34563
34564
34565
34566
34567
34568
34569
34570
34571
34572
34573
34574
34575
34576
34577
34578
34579
34580
34581
34582
34583
34584
34585
34586
34587
34588
34589
34590
34591
34592
34593
34594
34595
34596
34597
34598
34599
34600
34601
34602
34603
34604
34605
34606
34607
34608
34609
34610
34611
34612
34613
34614
34615
34616
34617
34618
34619
34620
34621
34622
34623
34624
34625
34626
34627
34628
34629
34630
34631
34632
34633
34634
34635
34636
34637
34638
34639
34640
34641
34642
34643
34644
34645
34646
34647
34648
34649
34650
34651
34652
34653
34654
34655
34656
34657
34658
34659
34660
34661
34662
34663
34664
34665
34666
34667
34668
34669
34670
34671
34672
34673
34674
34675
34676
34677
34678
34679
34680
34681
34682
34683
34684
34685
34686
34687
34688
34689
34690
34691
34692
34693
34694
34695
34696
34697
34698
34699
34700
34701
34702
34703
34704
34705
34706
34707
34708
34709
34710
34711
34712
34713
34714
34715
34716
34717
34718
34719
34720
34721
34722
34723
34724
34725
34726
34727
34728
34729
34730
34731
34732
34733
34734
34735
34736
34737
34738
34739
34740
34741
34742
34743
34744
34745
34746
34747
34748
34749
34750
34751
34752
34753
34754
34755
34756
34757
34758
34759
34760
34761
34762
34763
34764
34765
34766
34767
34768
34769
34770
34771
34772
34773
34774
34775
34776
34777
34778
34779
34780
34781
34782
34783
34784
34785
34786
34787
34788
34789
34790
34791
34792
34793
34794
34795
34796
34797
34798
34799
34800
34801
34802
34803
34804
34805
34806
34807
34808
34809
34810
34811
34812
34813
34814
34815
34816
34817
34818
34819
34820
34821
34822
34823
34824
34825
34826
34827
34828
34829
34830
34831
34832
34833
34834
34835
34836
34837
34838
34839
34840
34841
34842
34843
34844
34845
34846
34847
34848
34849
34850
34851
34852
34853
34854
34855
34856
34857
34858
34859
34860
34861
34862
34863
34864
34865
34866
34867
34868
34869
34870
34871
34872
34873
34874
34875
34876
34877
34878
34879
34880
34881
34882
34883
34884
34885
34886
34887
34888
34889
34890
34891
34892
34893
34894
34895
34896
34897
34898
34899
34900
34901
34902
34903
34904
34905
34906
34907
34908
34909
34910
34911
34912
34913
34914
34915
34916
34917
34918
34919
34920
34921
34922
34923
34924
34925
34926
34927
34928
34929
34930
34931
34932
34933
34934
34935
34936
34937
34938
34939
34940
34941
34942
34943
34944
34945
34946
34947
34948
34949
34950
34951
34952
34953
34954
34955
34956
34957
34958
34959
34960
34961
34962
34963
34964
34965
34966
34967
34968
34969
34970
34971
34972
34973
34974
34975
34976
34977
34978
34979
34980
34981

In [51]:

pc.value_counts()

11111    1872
34516     196
34131     195
34913     174
34816     171
         ...
14569       1
14184       1
13548       1
34951       1
98614       1
Length: 163, dtype: int64

In [44]:
class_10[['last_name','national_id','national_id','seh_ragham_aval','shahr_e_sodor_shenasnameh','city_residance','postal_code','digits_counting_postal_code']]

,last_name,national_id,national_id,seh_ragham_aval,shahr_e_sodor_shenasnameh,city_residance,postal_code,digits_counting_postal_code
0,گروسی,5098674451,5098674451,509,بوئین زهرا,بوئین زهرا,3454178378,10
1,حاجی حسینی,4390754092,4390754092,439,تاکستان,بوئین زهرا,3451738961,10
2,رفیعی,4391615207,4391615207,439,تاکستان,بوئین زهرا,3451646436,10
3,احمدی,5098799899,5098799899,509,بوئین زهرا,بوئین زهرا,3451737955,10
4,برزگراحمدی,5099580238,5099580238,509,بوئین زهرا,بوئین زهرا,3451637311,10
...,...,...,...,...,...,...,...,...
6894,صادقی راد,4380317031,4380317031,438,تاکستان,قزوین,1111111111,10
6895,گنج ها,4310661378,4310661378,431,قزوین,قزوین,3431164685,10
6896,امانی,4324466017,4324466017,432,قزوین,قزوین,3416664781,10
6897,عسگری,4323123175,4323123175,432,قزوین,قزوین,3471679831,10
6898,مهرعلیان,4390366726,4390366726,439,تاکستان,شال,3457114379,10