In [86]:
#Importing libraries
import pandas as pd
import numpy as np

In [87]:
#raw data
raw=pd.read_excel(r'C:\Users\Asus\Desktop\raw_data.xlsx') 
# raw.info()

In [88]:
#importing_codemeli_city_xlsx
codemeli_city=pd.read_excel(r'C:\Users\Asus\Desktop\maskan_mehr_project\Book1.xlsx') 

codemeli_city['seh_ragham_avl']= codemeli_city['seh_ragham_avl'].astype(str)

# codemeli_city.info()
codemeli_city

    seh_ragham_avl shahr_e_sodor_codemeli
0              149                    اهر
1              169                 آذرشهر
2              170                   اسکو
3              149                    اهر
4              171             بستان آباد
..             ...                    ...
603            158                   مرند
604            615          ابهر و خرمدره
605            152                  میانه
606            153                  میانه
607            999             کد ملی غلط

[608 rows x 2 columns]

In [89]:
#importing pc
pc_df=pd.read_excel(r'C:\Users\Asus\Desktop\maskan_mehr_project\pc.xlsx') 
pc_df.drop(columns=[ 'Unnamed: 0'] , inplace=True)
pc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pc            163 non-null    int64
 1   city          150 non-null    object
 2   latitude(φ)   147 non-null    object
 3   longitude(λ)  147 non-null    object
 4   φ(d)          147 non-null    float64
 5    λ(d)         147 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 7.8+ KB

In [90]:
pc_df

,pc,city,latitude(φ),longitude(λ),φ(d),λ(d)
0,11111,NaN,NaN,NaN,NaN,NaN
1,31319,NaN,NaN,NaN,NaN,NaN
2,31956,NaN,NaN,NaN,NaN,NaN
3,43131,NaN,NaN,NaN,NaN,NaN
4,43141,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
158,34917,محمدیه,"36° 13' 26.465"" N","50° 10' 57.313"" E",36.224018,50.182587
159,34918,محمدیه,"36° 13' 26.465"" N","50° 10' 57.313"" E",36.224018,50.182587
160,34919,محمدیه,"36° 13' 26.465"" N","50° 10' 57.313"" E",36.224018,50.182587
161,34931,معلم کلایه,"36° 26' 50.197"" N","50° 28' 41.506"" E",36.447277,50.478195
162,89189,یزد,"31° 53' 0.679"" N","54° 20' 51.864"" E",31.883522,54.347740

In [91]:
# raw column names
for col in raw.columns:
    print(col)

نام
نام خانوادگی
کد ملی
موبایل
مرحله ثبت نام
شهر مورد تقاضا
شهر محل سکونت
آدرس متقاضی
کدپستی
وضعیت بارگذاری مدارک
وضعیت سرپرستی
شغل
جنسیت
میزان تحصیلات
نام پدر
شماره شناسنامه
تاریخ تولد
تعداد فرزندان
بعد خانوار
کد شعبه
نام شعبه
شماره حساب

In [92]:
#useful features:

# نام
# نام خانوادگی
# کد ملی
# شماره شناسنامه
# موبایل
# شهر مورد تقاضا
# شهر محل سکونت
# آدرس متقاضی
# کدپستی
# جنسیت
# نام پدر
# تاریخ تولد
# شماره حساب

In [93]:
#renaming columns to english
raw.rename(columns={'نام':"first_name"  ,  "نام خانوادگی":"last_name"  ,  "کد ملی":"national_id"  ,"شماره شناسنامه":"serial_number", 
                    "کدپستی": "postal_code" ,
                    "شهر مورد تقاضا"  : "city_requested " , "شهر محل سکونت" :"city_residance","موبایل":"mobile_number",
                    "آدرس متقاضی": "address" , 
                          "جنسیت":"gender","نام پدر":"Father's name","تاریخ تولد":"Birth date",
                    "شماره حساب":"Bank acc number"} , inplace=True)

raw.drop(columns=['وضعیت بارگذاری مدارک',"وضعیت سرپرستی","شغل","میزان تحصیلات","تعداد فرزندان","بعد خانوار" ,"کد شعبه","نام شعبه","مرحله ثبت نام"],inplace=True)

In [94]:
# raw['national_id_str'] = raw['national_id'].astype(str)
# raw['postal_code_str'] = raw['postal_code'].astype(str)

# "کد ملی"  ;  "national_id"

In [95]:
raw['national_id_str'] = raw['national_id'].astype(str)

In [96]:
# digits counting

def count_digits(string):
    
    return sum(item.isdigit() for item in string)

raw['digits_counting_national_id'] = (raw['national_id_str']).apply(count_digits)

In [97]:
raw[['digits_counting_national_id']].value_counts()

digits_counting_national_id
10                             6581
8                               188
9                               130
dtype: int64

In [98]:
#afrad ba codemelii 10 raghami 

class_10=raw[raw.digits_counting_national_id == 10]

#afrad ba codemelii 9 raghami 
class_9=raw[raw.digits_counting_national_id == 9]

#afrad ba codemelii 8 raghami 

class_8=raw[raw.digits_counting_national_id == 8]

# class10

check validationn of code e melii in class_10

In [99]:
# class_10["national_id_str"].mask(class_10["national_id_str"] == '1111111111', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '2222222222', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '3333333333', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '4444444444', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '5555555555', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '6666666666', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '7777777777', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '8888888888', '9999999999', inplace=True)
# class_10["national_id_str"].mask(class_10["national_id_str"] == '0000000000', '9999999999', inplace=True)

In [100]:
class_10[class_10.national_id_str == '']
#returns 0 for '0000000000','1111111111','2222222222','3333333333','4444444444','5555555555','7777777777','6666666666',8888888888', '9999999999'

Empty DataFrame
Columns: [first_name, last_name, national_id, mobile_number, city_requested , city_residance, address, postal_code, gender, Father's name, serial_number, Birth date, Bank acc number, national_id_str, digits_counting_national_id]
Index: []

In [101]:
#also using below loop is ok 



# invalid_list=['0000000000','1111111111','2222222222','3333333333','4444444444','5555555555','6666666666','7777777777','8888888888','9999999999']


# for i in class_10['national_id_str']:
    
#     if i in invalid_list:
            
#         print(i)
#     else:
#         print("ok")

based on the result of the last 3 cells none of the  class_10.national_id_str values are equal to the invalid_list values.

https://exceliran.com/melli-code-checker-in-excel/  : تشخیص صحت کد ملی

In [102]:
mylist_class10=[]

for codemeli in (class_10['national_id_str']):
    
    Sum=0
    
    for j in range(9):
        
        Sum+= int(codemeli[j])*(10 - j) #sum number code meli 1-9
        
    C=(Sum%11)
    
    A=int(codemeli[9]) #ragham e control
    
    B=11-C   
    
    if ((C<2 and A==0 )) or (C<2 and A==1):
        
        mylist_class10.append(codemeli[:3])
        
    elif (C>=2) and (B==A):
        
        mylist_class10.append(codemeli[:3])
    else:
        mylisst_class10.append("999")
        
        
    
mylist_class10=pd.DataFrame(mylist_class10,columns =['mylist_class10'])

# mylisst_class10.shape=(6581, 1)
#class_10[['national_id_str']].shape=(6581, 1)


class_10['seh_ragham_aval']=mylist_class10.values
# class_10

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\3235855644.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['seh_ragham_aval']=mylist_class10.values

In [103]:
#converting codemeli_city to dict
key, value = list(codemeli_city['seh_ragham_avl']), list(codemeli_city['shahr_e_sodor_codemeli'])
codemeli_city = dict(zip(key, value))

In [104]:
codes = list(class_10['seh_ragham_aval'])

cities_10 = []

for i in codes:
    
    if i in key:
        
        cities_10.append(codemeli_city[i])
    else:
        cities_10.append("null")

In [105]:
cities_10=pd.DataFrame ( cities_10 , columns=['cities_10'])
class_10['shahr_e_sodor_shenasnameh']=cities_10.values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\3130322988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['shahr_e_sodor_shenasnameh']=cities_10.values

In [106]:
# class_10

# check validation of postal_code in class_10

الگوريتم صحت سنجي عددي كد پستي:

- تعداد ارقام كد پستي 10 رقم مي باشد.

- عدد صفر در كد پستي استفاده نشده است.

- عدد 2 در كد پستي استفاده نشده است.

- چهار رقم ابتدايي نمي تواند شبيه هم باشد.

- رقم پنجم نمي تواند عدد 5 باشد.

-تمامي ارقام نمي تواند شبيه هم باشد.

In [107]:
class_10[['postal_code']]

     postal_code
0     3454178378
1     3451738961
2     3451646436
3     3451737955
4     3451637311
...          ...
6894         NaN
6895  3431164685
6896  3416664781
6897  3471679831
6898  3457114379

[6581 rows x 1 columns]

In [108]:
class_10[['postal_code']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6581 entries, 0 to 6898
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  5925 non-null   object
dtypes: object(1)
memory usage: 102.8+ KB

In [109]:
class_10[['postal_code']].isna().sum()  #returns 656
#replacing nans with 1111111111
class_10[['postal_code']]=class_10[['postal_code']].fillna(1111111111)
class_10[['postal_code']].isna().sum()#returns 0

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\2863504390.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10[['postal_code']]=class_10[['postal_code']].fillna(1111111111)

postal_code    0
dtype: int64

In [110]:
class_10[['postal_code']].value_counts()

postal_code
1111111111     774
3414739866      37
3481634816      28
3451634516      21
3419113131      20
              ...
3419935943       1
3419935671       1
3419935611       1
3419935343       1
3447112977       1
Length: 5379, dtype: int64

# تعداد ارقام كد پستي 10 رقم مي باشد

In [111]:
class_10['digits_counting_postal_code'] = (class_10['postal_code'].astype(str)).apply(count_digits)
class_10['digits_counting_postal_code'].value_counts()

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\1516624701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['digits_counting_postal_code'] = (class_10['postal_code'].astype(str)).apply(count_digits)

10    6562
9       10
8        3
5        2
0        2
2        1
6        1
Name: digits_counting_postal_code, dtype: int64

In [112]:
# class_10[class_10.digits_counting_postal_code == 0]

In [113]:
# class_10[class_10.digits_counting_postal_code == 2]

In [114]:
# class_10[class_10.digits_counting_postal_code == 5]

In [115]:
# class_10[class_10.digits_counting_postal_code == 6]

In [116]:
# class_10[class_10.digits_counting_postal_code == 8]

In [117]:
# class_10[class_10.digits_counting_postal_code == 9]

In [118]:
mylist1=[]

for i in class_10['postal_code'].astype(str):
    
    
    if count_digits(i)==10:
        
            
        mylist1.append(i)
        
    else:
         mylist1.append('1111111111')
            
df_1= pd.DataFrame(mylist1 , columns=['mylist1']) #df_1.shape returns 6581 rows × 1 columns 
df_1.value_counts()  #returns 793 ta '1111111111'

mylist1
1111111111    793
3414739866     37
3481634816     28
3451634516     21
3419113131     20
             ...
3419938548      1
3419938367      1
3419938341      1
3419938191      1
3447118773      1
Length: 5365, dtype: int64

In [119]:
# replacing class_10['postal_code'] with df_1

class_10['postal_code']= df_1['mylist1'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\1952188133.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_1['mylist1'].values

# - عدد صفر در كد پستي استفاده نشده است

# - عدد 2 در كد پستي استفاده نشده است

In [120]:
mylist2=[]

for i in class_10['postal_code'].astype(str):
    
    if i.count('2') == 0  and i.count('0')==0:
        
        mylist2.append(i)
        
    elif i.count('2') != 0  or i.count('0')!=0:
        
        mylist2.append('1111111111')
        
        
        
df_2= pd.DataFrame(mylist2 , columns=['mylist2'])
# df_2.value_counts() #returns 1227 ta '1111111111'

In [121]:
# replacing class_10['postal_code'] (df_1) with df_2

class_10['postal_code']= df_2['mylist2'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\643931272.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_2['mylist2'].values

# - چهار رقم ابتدايي نمي تواند شبيه هم باشد

In [122]:
mylist3=[]

for i in class_10['postal_code'].astype(str):
    
    if i[0:1 ]!= i[1:2]!= i[2:3]!= i[3:4] :
        
        mylist3.append(i)
    else:
        mylist3.append('1111111111')
        
df_3= pd.DataFrame(mylist3 , columns=['mylist3'])
# df_3.value_counts() #returns 1872 ta '1111111111'

In [123]:
# replacing class_10['postal_code'] (df_2) with df_3

class_10['postal_code']= df_3['mylist3'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\2853278166.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_3['mylist3'].values

# - رقم پنجم نمي تواند عدد 5 باشد

In [124]:
mylist4=[]

for i in class_10['postal_code'].astype(str):
    
    if i[4:5]!='5':
        
        mylist4.append(i)
    else:
        mylist4.append('1111111111')
        
df_4= pd.DataFrame(mylist4 , columns=['mylist4'])
df_4.value_counts() #returns 1872 ta '1111111111'

mylist4
1111111111    1872
3414739866      37
3481634816      28
3451634516      21
3419113131      20
              ...
3419348539       1
3419378638       1
3419614418       1
3419614748       1
9861437513       1
Length: 4368, dtype: int64

In [125]:
# replacing class_10['postal_code'] (df_3) with df_4

class_10['postal_code']= df_4['mylist4'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\3745188511.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_4['mylist4'].values

# -تمامي ارقام نمي تواند شبيه هم باشد

In [126]:
# class_10[class_10.postal_code == "1111111111"] #returns 1872  rows
#for "6666666666","7777777777","8888888888","4444444444","5555555555","0000000000","2222222222" ,"3333333333",'9999999999'
                     #returns 0 row

In [127]:
mylist5=[]

invalid_list=["0000000000","1111111111","2222222222","3333333333","4444444444","5555555555","6666666666","7777777777"
              ,"8888888888","9999999999"]



for i in class_10['postal_code'].astype(str):
    
    
    if i in invalid_list:
        
            
        mylist5.append(1111111111)
        
    else:
         mylist5.append(i)
            
df_5= pd.DataFrame(mylist5 , columns=['mylist5'])

df_5.value_counts() #returns 1872 ta '1111111111'

mylist5
1111111111    1872
3414739866      37
3481634816      28
3451634516      21
3419113131      20
              ...
3419348539       1
3419378638       1
3419614418       1
3419614748       1
9861437513       1
Length: 4368, dtype: int64

In [128]:
# replacing class_10['postal_code'] (df_4) with df_5  , it is not necessary but still i'm doing it lol:))

class_10['postal_code']= df_5['mylist5'].values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\168830366.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['postal_code']= df_5['mylist5'].values

In [129]:
pc=[]
for postal_code in class_10['postal_code'].astype(str):
    pc.append(postal_code[:5])
pc=pd.DataFrame(pc,columns=['pc'])
class_10['panj_ragham_aval_postal_code']=pc.values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\3072807357.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['panj_ragham_aval_postal_code']=pc.values

In [130]:
#converting pc  to dict
keyy, valuee = list(pc_df['pc']), list(pc_df['city'])
dict2 = dict(zip(keyy, valuee))

In [131]:
code2 = list(class_10['panj_ragham_aval_postal_code'].astype(int))

city_2 = []

for i in code2:
    
    if i in keyy:
        
        city_2.append(dict2[i])
    else:
        city_2.append("null")

In [132]:
class_10['shahr_e_code_posti']=pd.DataFrame(city_2).values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\1124214881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['shahr_e_code_posti']=pd.DataFrame(city_2).values

In [133]:
class_10[['first_name','last_name','city_residance','postal_code','shahr_e_code_posti']]

     first_name   last_name city_residance postal_code shahr_e_code_posti
0           حسن       گروسی     بوئین زهرا  3454178378         بوئین زهرا
1         مرتضی  حاجی حسینی     بوئین زهرا  3451738961         بوئین زهرا
2         رحمان       رفیعی     بوئین زهرا  3451646436         بوئین زهرا
3      ابوالفضل       احمدی     بوئین زهرا  3451737955         بوئین زهرا
4          جعفر  برزگراحمدی     بوئین زهرا  3451637311         بوئین زهرا
...         ...         ...            ...         ...                ...
6894       صادق   صادقی راد          قزوین  1111111111                NaN
6895       بهمن      گنج ها          قزوین  3431164685              الوند
6896       زهرا       امانی          قزوین  3416664781              قزوین
6897       مجید       عسگری          قزوین  3471679831            تاکستان
6898       لیلا    مهرعلیان            شال  3457114379                شال

[6581 rows x 5 columns]

comparing the values of city_residance and shahr_e_code_posti

In [134]:
class_10['city_cr_pc'] = np.where(  (class_10['city_residance'] == class_10['shahr_e_code_posti']) , 'matched' ,'not_matched' )

class_10[['city_cr_pc','city_residance','shahr_e_code_posti']]

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\3054372783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['city_cr_pc'] = np.where(  (class_10['city_residance'] == class_10['shahr_e_code_posti']) , 'matched' ,'not_matched' )

       city_cr_pc city_residance shahr_e_code_posti
0         matched     بوئین زهرا         بوئین زهرا
1         matched     بوئین زهرا         بوئین زهرا
2         matched     بوئین زهرا         بوئین زهرا
3         matched     بوئین زهرا         بوئین زهرا
4         matched     بوئین زهرا         بوئین زهرا
...           ...            ...                ...
6894  not_matched          قزوین                NaN
6895  not_matched          قزوین              الوند
6896      matched          قزوین              قزوین
6897  not_matched          قزوین            تاکستان
6898      matched            شال                شال

[6581 rows x 3 columns]

In [135]:
# latitude(φ)	


key_1, value_1 = list(pc_df['pc']), list(pc_df['latitude(φ)'])
dict_lat = dict(zip(key_1, value_1))

# dict_lat


code2 = list(class_10['panj_ragham_aval_postal_code'].astype(int))

lat = []

for i in code2:
    
    if i in key_1:
        
        lat.append(dict_lat[i])
    else:
        lat.append("null")

class_10['latitude(φ)_by_postal_code']=pd.DataFrame(lat).values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\1279315414.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['latitude(φ)_by_postal_code']=pd.DataFrame(lat).values

In [136]:
# latitude(φ)	


key_1, value_1 = list(pc_df['pc']), list(pc_df['latitude(φ)'])
dict_lat = dict(zip(key_1, value_1))

# dict_lat


code2 = list(class_10['panj_ragham_aval_postal_code'].astype(int))

lat = []

for i in code2:
    
    if i in key_1:
        
        lat.append(dict_lat[i])
    else:
        lat.append("null")

class_10['latitude(φ)_by_postal_code']=pd.DataFrame(lat).values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\1279315414.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['latitude(φ)_by_postal_code']=pd.DataFrame(lat).values

In [137]:
# longitude(λ)

key_2, value_2 = list(pc_df['pc']), list(pc_df['longitude(λ)'])
dict_longt = dict(zip(key_2, value_2))



code2 = list(class_10['panj_ragham_aval_postal_code'].astype(int))

longt = []

for i in code2:
    
    if i in key_2:
        
        longt.append(dict_longt[i])
    else:
        longt.append("null")

class_10['longitude(λ)_by_postal_code']=pd.DataFrame(longt).values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\195220457.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['longitude(λ)_by_postal_code']=pd.DataFrame(longt).values

In [138]:
# φ(d)

key_3, value_3 = list(pc_df['pc']), list(pc_df['φ(d)'])
dict_φ = dict(zip(key_3, value_3))

# dict_φ


code2 = list(class_10['panj_ragham_aval_postal_code'].astype(int))

φ = []

for i in code2:
    
    if i in key_3:
        
        φ.append(dict_φ[i])
    else:
        φ.append("null")

class_10['φ(d)_by_postal_code']=pd.DataFrame(φ).values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\4051720564.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['φ(d)_by_postal_code']=pd.DataFrame(φ).values

In [141]:
# λ(d)

key_4, value_4 = list(pc_df['pc']), list(pc_df[' λ(d)'])

dict_λ = dict(zip(key_4, value_4))

# dict_λ


code2 = list(class_10['panj_ragham_aval_postal_code'].astype(int))

λ = []

for i in code2:
    
    if i in key_4:
        
        λ.append(dict_λ[i])
    else:
        λ.append("null")

class_10['λ(d)_by_postal_code']=pd.DataFrame(λ).values

C:\Users\Asus\AppData\Local\Temp\ipykernel_15708\362334160.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_10['λ(d)_by_postal_code']=pd.DataFrame(λ).values

In [142]:
#class_10
for collll in class_10.columns:
    print(collll)

first_name
last_name
national_id
mobile_number
city_requested
city_residance
address
postal_code
gender
Father's name
serial_number
Birth date
Bank acc number
national_id_str
digits_counting_national_id
seh_ragham_aval
shahr_e_sodor_shenasnameh
digits_counting_postal_code
panj_ragham_aval_postal_code
shahr_e_code_posti
city_cr_pc
latitude(φ)_by_postal_code
longitude(λ)_by_postal_code
φ(d)_by_postal_code
λ(d)_by_postal_code

In [143]:
preprocessed=class_10[['first_name','last_name','national_id','national_id_str','digits_counting_national_id','seh_ragham_aval','shahr_e_sodor_shenasnameh','postal_code','digits_counting_postal_code','panj_ragham_aval_postal_code',
             'shahr_e_code_posti','city_residance','city_cr_pc','latitude(φ)_by_postal_code','longitude(λ)_by_postal_code','φ(d)_by_postal_code','λ(d)_by_postal_code','city_requested ']]

In [144]:
preprocessed

,first_name,last_name,national_id,national_id_str,digits_counting_national_id,seh_ragham_aval,shahr_e_sodor_shenasnameh,postal_code,digits_counting_postal_code,panj_ragham_aval_postal_code,shahr_e_code_posti,city_residance,city_cr_pc,latitude(φ)_by_postal_code,longitude(λ)_by_postal_code,φ(d)_by_postal_code,λ(d)_by_postal_code,city_requested
0,حسن,گروسی,5098674451,5098674451,10,509,بوئین زهرا,3454178378,10,34541,بوئین زهرا,بوئین زهرا,matched,"35° 45' 25.744"" N","50° 3' 43.085"" E",35.757153,50.061970,بوئین زهرا
1,مرتضی,حاجی حسینی,4390754092,4390754092,10,439,تاکستان,3451738961,10,34517,بوئین زهرا,بوئین زهرا,matched,"35° 45' 25.744"" N","50° 3' 43.085"" E",35.757153,50.061970,بوئین زهرا
2,رحمان,رفیعی,4391615207,4391615207,10,439,تاکستان,3451646436,10,34516,بوئین زهرا,بوئین زهرا,matched,"35° 45' 25.744"" N","50° 3' 43.085"" E",35.757153,50.061970,بوئین زهرا
3,ابوالفضل,احمدی,5098799899,5098799899,10,509,بوئین زهرا,3451737955,10,34517,بوئین زهرا,بوئین زهرا,matched,"35° 45' 25.744"" N","50° 3' 43.085"" E",35.757153,50.061970,بوئین زهرا
4,جعفر,برزگراحمدی,5099580238,5099580238,10,509,بوئین زهرا,3451637311,10,34516,بوئین زهرا,بوئین زهرا,matched,"35° 45' 25.744"" N","50° 3' 43.085"" E",35.757153,50.061970,بوئین زهرا
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6894,صادق,صادقی راد,4380317031,4380317031,10,438,تاکستان,1111111111,10,11111,NaN,قزوین,not_matched,NaN,NaN,NaN,NaN,قزوین
6895,بهمن,گنج ها,4310661378,4310661378,10,431,قزوین,3431164685,10,34311,الوند,قزوین,not_matched,"36° 10' 13.224"" N","50° 4' 26.958"" E",36.170341,50.074154,قزوین
6896,زهرا,امانی,4324466017,4324466017,10,432,قزوین,3416664781,10,34166,قزوین,قزوین,matched,"36° 16' 54.282"" N","50° 0' 7.085"" E",36.281746,50.001968,قزوین
6897,مجید,عسگری,4323123175,4323123175,10,432,قزوین,3471679831,10,34716,تاکستان,قزوین,not_matched,"36° 4' 17.112"" N","49° 41' 46.176"" E",36.071419,49.696159,قزوین
6898,لیلا,مهرعلیان,4390366726,4390366726,10,439,تاکستان,3457114379,10,34571,شال,شال,matched,"35° 53' 51.349"" N","49° 46' 6.118"" E",35.897598,49.768368,شال

In [ ]:
from pathlib import Path  

filepath = Path(r'C:\Users\Asus\Desktop\preprocessed_data_ngnz.xlsx')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

preprocessed.to_excel(filepath,encoding='utf-8-sig')