In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv(r'C:\Users\Roshan\.ssh\ml_demystified\projects\gis\gis_data.csv')
df.head()

,Unnamed: 0,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,0,بوئین زهرا,3454178378,35.76775,50.057667,35.76775,50.057667,3.454178e+09,NaN
1,1,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
2,2,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
3,3,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
4,4,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667

In [12]:
df.isnull().any()

Unnamed: 0          False
city                False
postal code          True
city_GIS_1           True
city_GIS_2           True
branch_GIS_1         True
branch_GIS_2         True
postalcode_GIS_1     True
postalcode_GIS_2     True
dtype: bool

In [14]:
print( df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6899 entries, 0 to 6898
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        6899 non-null   int64
 1   city              6899 non-null   object
 2   postal code       6214 non-null   object
 3   city_GIS_1        6886 non-null   float64
 4   city_GIS_2        6886 non-null   float64
 5   branch_GIS_1      4633 non-null   float64
 6   branch_GIS_2      4633 non-null   float64
 7   postalcode_GIS_1  5197 non-null   float64
 8   postalcode_GIS_2  5179 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 485.2+ KB
None

In [13]:
df.describe()

,Unnamed: 0,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
count,6899.000000,6886.000000,6886.000000,4633.000000,4633.000000,5.197000e+03,5179.000000
mean,3449.000000,36.126343,50.054557,36.135882,50.119157,1.199879e+06,50.011474
std,1991.714086,0.197080,0.263723,0.178326,0.151452,4.945171e+07,0.265501
min,0.000000,35.579889,49.222306,35.707574,49.694056,1.800000e+01,49.190333
25%,1724.500000,36.044611,50.007111,36.069361,50.057667,3.604461e+01,49.923722
50%,3449.000000,36.223528,50.057667,36.223528,50.182528,3.623058e+01,50.007111
75%,5173.500000,36.252528,50.182917,36.223528,50.182528,3.628853e+01,50.058972
max,6898.000000,36.542111,50.890361,36.288528,51.347655,3.454178e+09,50.890361

AttributeError: module 'matplotlib.pyplot' has no attribute 'pyplot'