In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv(r'C:\Users\Roshan\.ssh\ml_demystified\projects\gis\gis_data.csv')
df.head()

,Unnamed: 0,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,0,بوئین زهرا,3454178378,35.76775,50.057667,35.76775,50.057667,3.454178e+09,NaN
1,1,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
2,2,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
3,3,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
4,4,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667

In [19]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,بوئین زهرا,3454178378,35.76775,50.057667,35.76775,50.057667,3.454178e+09,NaN
1,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
2,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
3,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667
4,بوئین زهرا,"35.767750, 50.057667",35.76775,50.057667,35.76775,50.057667,3.576775e+01,50.057667

In [20]:
df.isnull().any()

city                False
postal code          True
city_GIS_1           True
city_GIS_2           True
branch_GIS_1         True
branch_GIS_2         True
postalcode_GIS_1     True
postalcode_GIS_2     True
dtype: bool

In [21]:
print( df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6899 entries, 0 to 6898
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              6899 non-null   object
 1   postal code       6214 non-null   object
 2   city_GIS_1        6886 non-null   float64
 3   city_GIS_2        6886 non-null   float64
 4   branch_GIS_1      4633 non-null   float64
 5   branch_GIS_2      4633 non-null   float64
 6   postalcode_GIS_1  5197 non-null   float64
 7   postalcode_GIS_2  5179 non-null   float64
dtypes: float64(6), object(2)
memory usage: 431.3+ KB
None

In [22]:
df.describe()

,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
count,6886.000000,6886.000000,4633.000000,4633.000000,5.197000e+03,5179.000000
mean,36.126343,50.054557,36.135882,50.119157,1.199879e+06,50.011474
std,0.197080,0.263723,0.178326,0.151452,4.945171e+07,0.265501
min,35.579889,49.222306,35.707574,49.694056,1.800000e+01,49.190333
25%,36.044611,50.007111,36.069361,50.057667,3.604461e+01,49.923722
50%,36.223528,50.057667,36.223528,50.182528,3.623058e+01,50.007111
75%,36.252528,50.182917,36.223528,50.182528,3.628853e+01,50.058972
max,36.542111,50.890361,36.288528,51.347655,3.454178e+09,50.890361

In [23]:
df['city'].value_counts()

محمدیه                1320
مجموعه شهری مهرگان    1150
قزوین                 1136
بوئین زهرا             803
آبیک                   615
تاکستان                523
اقبالیه                389
آوج                    223
محمودآبادنمونه         194
الوند                  159
ارداق                   82
آبگرم                   51
شال                     45
دانسفهان                41
ضیاآباد                 28
شریفیه                  26
بیدستان                 23
سگزآباد                 20
اسفرورین                16
نرجه                    11
معلم کلایه              10
کوهین                    9
رازمیان                  7
تهران                    4
خاکعلی                   4
ایرانشهر                 1
اصفهان                   1
بیجار                    1
طارم                     1
نظرآباد                  1
شهرجدیدهشتگرد            1
رباطکریم                 1
خرمدشت                   1
قم                       1
کرج                      1
Name: city, dtype: int64

In [31]:
df_2=pd.read_excel('https://github.com/mmortazavi/ml_demystified/raw/main/projects/gis/raw_data.xlsx')
df_2.head()

,نام,نام خانوادگی,کد ملی,موبایل,مرحله ثبت نام,شهر مورد تقاضا,شهر محل سکونت,آدرس متقاضی,کدپستی,وضعیت بارگذاری مدارک,...,جنسیت,میزان تحصیلات,نام پدر,شماره شناسنامه,تاریخ تولد,تعداد فرزندان,بعد خانوار,کد شعبه,نام شعبه,شماره حساب
0,حسن,گروسی,5098674451,9196177092,فاز 2,بوئین زهرا,بوئین زهرا,امیرآبادکهن خ اصلی گلستان 2,3454178378,بارگذاری نشده,...,مرد,دیپلم,ترابعلی,4442,1357/06/01,3.0,4.0,1668.0,بوئين زهرا,3.299007e+11
1,مرتضی,حاجی حسینی,4390754092,9032353898,فاز 2,بوئین زهرا,بوئین زهرا,بویین زهرا خ بوعلی پ22,3451738961,ناقص,...,مرد,زیر سیکل,غلامرضا,1485,1355/02/01,2.0,3.0,1668.0,بوئين زهرا,3.299008e+11
2,رحمان,رفیعی,4391615207,9919248418,فاز 2,بوئین زهرا,بوئین زهرا,بویین زهرا خیابان الهیه8پلاک18,3451646436,بارگذاری نشده,...,مرد,دیپلم,فرمان,13,1362/02/01,2.0,3.0,1668.0,بوئين زهرا,3.299010e+11
3,ابوالفضل,احمدی,5098799899,9127884216,فاز 2,بوئین زهرا,بوئین زهرا,بوئین زهرا خیابان پاسداران سرو 5 پ 16,3451737955,بارگذاری نشده,...,مرد,سیکل,قربانعلی,634,1351/03/10,2.0,3.0,1668.0,بوئين زهرا,3.299004e+11
4,جعفر,برزگراحمدی,5099580238,9368960462,فاز 2,بوئین زهرا,بوئین زهرا,بلوار امام خمینی خیابان شهیدنصرالهی,3451637311,بارگذاری نشده,...,مرد,فوق دیپلم,محمد,373,1363/06/26,2.0,3.0,1668.0,بوئين زهرا,3.299017e+11